* {
  box-sizing: border-box;
}

.card {
  max-width: calc(12.5rem + 13vw);

  background: gray;

  
  border-width: 2px;
  border-radius: 0.75em;
  border-color: black;

  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.card:hover{
  transform: scale(1.05);
}

.tasktitle {
  text-align: center;
}
